<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025594876572-h3hd5g0ikv7cmtoapgu0bfinb091oic1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025594876572-h3hd5g0ikv7cmtoapgu0bfinb091oic1</string>
	<key>API_KEY</key>
	<string>AIzaSyATWUk0eKUpAHoVYVNPEkhO1d0YbKCb2PE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025594876572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymapp</string>
	<key>PROJECT_ID</key>
	<string>gymappfire</string>
	<key>STORAGE_BUCKET</key>
	<string>gymappfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025594876572:ios:5ad566b0cc7c23856c0359</string>
</dict>
</plist>